.analyze {
    display: block;
    margin: 0 auto;
    width: 90vw;
    padding-top: 50px;
    &_first {
        display: block;
        margin: 0 auto;
        display: flex;
        width: 166px;
        height: 24px;
        border: 2px solid #E03F3F;
        border-radius: 15px;
        align-items: center;

        transform: translateY(0px);
        opacity: 1;
        transition: transform 2s ease-in-out , opacity 2s ease-in-out;
        &_invisible {
            transform: translateY(80px);
            opacity: 0;
        }
        &_text {
            display: block;
            margin: 0 auto;
            color: #FFF;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.3px;
        }
    }
    &_header {
        display: block;
        margin: 0 auto;

        transform: translateY(0px);
        opacity: 1;
        transition: transform 2s ease-in-out , opacity 2s ease-in-out;
        &_invisible {
            transform: translateY(80px);
            opacity: 0;
        }
        &_text {
            display: block;
            margin: 0 auto;
            width: 60%;
            margin-top: 25px;
            color: #FFF;
            font-family: Inter;
            font-size: 73px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;


        }
    }
    &_box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;

        display: grid;
        grid-template-columns: repeat(3, 1fr); // Подберите подходящее количество колонок
        gap: 10px;
        &_one {
            margin-top: 50px;

            opacity: 1;
            transition: opacity 2s ease-in-out;
            &_invisible {
                opacity: 0;
            }
        }
        &_two {
            opacity: 1;
            transition: opacity 2s ease-in-out;
            &_invisible {
                opacity: 0;
            }
        }
        &_card {
            display: block;
            width: 410px;
            height: 540px;
            flex-shrink: 0;
            border-radius: 25px;
            background: rgba(26, 45, 71, 0.30);
            backdrop-filter: blur(20px);
            img {
                display: block;
                margin: 0 auto;
                margin-top: 22px;
            }
            &_textbox {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 44px;
                &_rund {
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #E03F3F;
                }
                &_text {
                    color: #B6C4CA;
                    text-align: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-left: 20px;
                }

            }
        }
    }
    &_last {
        cursor: pointer;
        color:  #E03F3F;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 190%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-top: 50px;

        transform: translateY(0px);
        opacity: 1;
        transition: transform 2s ease-in-out , opacity 2s ease-in-out;
        &_invisible {
            transform: translateY(80px);
            opacity: 0;
        }
    }
}