.menu {
    display: flex;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 25px;
    background: rgba(26, 45, 71, 0.30);
    backdrop-filter: blur(20px);
    z-index: 25;
    img {
        margin-top: 4vh;
        margin-left: 4vw;
        cursor: pointer;
    }
    &_center {
        width: 463px;
        display: flex;
        justify-content: space-between;
        margin-top: 7vh;
        margin-left: 27vw;
        
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 190%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: #FFF;
        }
        &_one, &two {
            text-decoration: none;
            color: #FFF;
        }
    } 
    &_rechts {
        position: relative;
        margin-left: 22vw;
        display: flex;
        width: 12vw;
        margin-top: 7vh;
        justify-content: space-between;

        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 190%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        &_blur {
            cursor: pointer;
            width: 80px;
            height: 43px;
            position: absolute;

            left: -1vw;
            top: -0.5vh;
            z-index: 5;
            &:hover {
                border-radius: 49px;
                opacity: 0.5;
                background: #E03F3F;
                filter: blur(20px);
                transition: all 0.3s;
            }
        }

        a {
            text-decoration: none;
            color: #FFF;
        }
        &_signup {
            margin-top: -1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 122px;
            height: 43px;
            flex-shrink: 0;
            border-radius: 49px;
            border: 2px solid #E03F3F;
            background: #E03F3F;
        }
        &_blurtwo {
            cursor: pointer;
            width: 122px;
            height: 43px;
            position: absolute;
            right: 0;
            top: -1vh;
            z-index: 5;
            &:hover {
                border-radius: 49px;
                opacity: 0.5;
                background: #E03F3F;
                filter: blur(20px);
                transition: all 0.3s;
            }
        }
    }
}