.footer {
    padding-bottom: 50px;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
    &_invisible {
        opacity: 0;
    }
    &_firstBlock {
        display: block;
        margin: 0 auto;
        display: flex;
        border-top: 1px solid #2E2E46;
        width: 80vw;
        justify-content: space-between;
        img {
            margin-top: 50px;
        }
        &_column {
            margin-left: 170px;
            padding-top: 61px;
            display: flex;
            width: 60vw;
            justify-content: space-between;
            &_one, &_two, &_three, &_four {
                &_title {
                    color: #E2E7EE;
                    font-family: Inter;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22.4px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                &_linkbox {
                    display: block;
                    margin-top: 22px;
                    a {
                        text-decoration: none;
                        display: block;
                        color: #A0AABA;
                        font-family: Inter;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.4px;
                        letter-spacing: -0.14px;
                        margin-bottom: 3px;
                        &:hover {
                            color: #fff;
                        }
                        &:active {
                            color: #E03F3F;
                        }
                    }
                }
            }
        }
    }
    &_secondBlock {
        display: block;
        margin: 0 auto;
        display: flex;
        width: 80vw;
        justify-content: space-between;
        margin-top: 41px;
        &_links {
            a {
                text-decoration: none;
                color: #9BA2B2;
                font-family: Inter;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.4px;
                letter-spacing: -0.14px;
                margin-right: 24px;
                &:hover {
                    color: #fff;
                }
                &:active {
                    color: #E03F3F;
                }
            }
        }
        &_rechts {
            width: 20vw;
            display: flex;
            justify-content: space-between;
            svg {
                transform: scale(1.2);
                cursor: pointer;
                fill: #8E9CA1;
                &:hover {
                    transition: all 0.3s;
                    fill: #E03F3F;
                }
            }
        }
    }
}