.visionLinks {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 85vw;
    padding-top: 112px;
    &_content {
        &_first {
            display: flex;
            width: 240px;
            height: 24px;
            border: 2px solid #E03F3F;
            border-radius: 15px;
            align-items: center;

            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                transform: translateY(30px);
                opacity: 0;
            }
            &_rund {
                display: block;
                width: 7.397px;
                height: 7.397px;
                background-color: #E03F3F;
                margin-right: 10%;
                margin-left: 7%;
                border-radius: 50%;
            }
            &_text {
                color: #FFF;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0.3px;
            }
        }
        &_header {
            margin-top: 10px;
            color: #FFF;
            font-family: Inter;
            font-size: 73px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
            text-align: left;

            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                transform: translateY(30px);
                opacity: 0;
            }
        }
        &_text {
            margin-top: 32px;
            width: 35vw;
            color: #9BA2B2;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: -0.14px;
            text-align: left;

            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                transform: translateY(30px);
                opacity: 0;
            }
        }
        a {
            text-decoration: none;
            position: relative;
        }
        &_last {
            margin-top: 44px;
            color: #E03F3F;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 190%;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            text-align: left;

            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                transform: translateY(30px);
                opacity: 0;
            }
        }
    }
    &_photo {
        transform: translateX(0px);
        opacity: 1;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
        &_invisible {
            transform: translateX(30px);
            opacity: 0;
        }
    }
}