.startScreenOne {
    background: url('../../sources/Page_01/02_start/BG.png') center top no-repeat;
    background-size: 99vw auto;
    height: 100vh;

    &_content {
        display: block;
        margin: 0 auto;
        margin-top: 30vh;
        text-align: center;
        &_first {
            display: block;
            margin: 0 auto;
            display: flex;
            width: 240px;
            height: 24px;
            flex-shrink: 0;
            border: 2px solid #E03F3F;
            border-radius: 15px;
            justify-content: center;
            align-items:center;

            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                opacity: 0;
                transform: translateY(50px);
            }
            &_text {
                color: #FFF;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0.3px;
                margin-right: 10px;
            }
        }
        &_second {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 73px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
            padding-top: 20px;
            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                opacity: 0;
                transform: translateY(50px);
            }
        }
        &_third {
            display: block;
            margin: 0 auto;
            width: 952px;
            height: 84px;
            margin-top: 73px;
            flex-shrink: 0;
            color: #B6C4CA;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                opacity: 0;
                transform: translateY(50px);
            }
        }
        &_forth {
            padding-top: 15vh;
            transform: translateY(0px);
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            &_invisible {
                opacity: 0;
                transform: translateY(50px);
            }
            &_text {
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 190%;
                letter-spacing: 0.6px;
                text-transform: uppercase;
                transform: rotate(299grad);
                margin-bottom: 50px;
            }
        }
    }
    &_leerline {
        display: block;
        height: 0.5px;
        width: 0.5px;
    }
}