.ourClients {
    display: block;
    margin: 0 auto;
    width: 80vw;
    &_content {
        display: block;
        padding-top: 58px;
        transform: translateY(0px);
        opacity: 1;
        transition: transform 2s ease-in-out, opacity 1s ease-in-out;
        &_invisible {
            transform: translateY(80px);
            opacity: 0;
        }
        &_first {
            display: block;
            margin: 0 auto;
            display: flex;
            width: 240px;
            height: 24px;
            border: 2px solid #E03F3F;
            border-radius: 15px;
            align-items: center;
            &_rund {
                display: block;
                width: 7.397px;
                height: 7.397px;
                background-color: #E03F3F;
                margin-right: 10%;
                margin-left: 7%;
                border-radius: 50%;
            }
            &_text {
                color: #FFF;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0.3px;
            }
        }
        &_header {
            margin-top: 10px;
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 73px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
        }
    }

    &_lineOne, &_lineTwo, &_lineThree {
        display: grid;
        grid-template-columns: repeat(5, 1fr); // Подберите подходящее количество колонок
        gap: 10px;
        &_logone, &_logtwo, &_logthree, &_logfour, &_logfive, &_logsix, &_logseven, &_logeight, &_lognine, &_logten, &_logeleven, &_logtwelve, &_logthirteen, &_logfourteen, &_logfifteen {
            opacity: 1;
            transition: opacity 1s ease-in-out;
            &_invisible {
                opacity: 0;
            }
        }
    }
    &_lineOne {
        margin-top: 110px;
    }
    &_lineTwo, &_lineThree {
        margin-top: 65px;
    }
    a {
        text-decoration: none;
    }
    &_bottom {
        transform: translateY(0px);
        opacity: 1;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
        &_invisible {
            transform: translateY(30px);
            opacity: 0;
        }
    }
    &_bottomText {
        margin-top: 100px;
        color: #E03F3F;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 190%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        text-align: center;
        &_blur {
            cursor: pointer;
            position: absolute;
            width: 220px;
            height: 35px;
            left: 42%;
            z-index: 5;
            margin-top: -30px;
            &:hover {
                border-radius: 49px;
                opacity: 0.5;
                background: #E03F3F;
                filter: blur(20px);
                transition: all 0.3s;
            }
        }
    }
}