.startScreenFour {
    display: block;
    margin: 0 auto;
    width: 80vw;
    background-color: #021530;
    position: relative;
    height: 90vh;
    &_first {
        display: block;
        margin: 0 auto;
        display: flex;
        width: 398px;
        height: 24px;
        border: 2px solid #E03F3F;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        &_text {
            color: #FFF;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.3px;
        }
    }
    &_header {
        margin-top: 10px;
        color: #FFF;
        font-family: Inter;
        font-size: 73px;
        font-style: normal;
        font-weight: 700;
        line-height: 92px;
        text-align: center;

    }
    &_text {
        display: block;
        margin: 0 auto;
        width: 952px;
        color: #B6C4CA;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150.023%;
        margin-top: 73px;
        text-align: center;
    }
    &_last {
        padding-top: 15vh;
        img {
            display: block;
            margin: 0 auto;
        }
        &_text {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 190%;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            transform: rotate(299grad);
            margin-bottom: 50px;
        }
    }
    &_bg {
        position: absolute;
        margin-top: -47vh;

        img {
            width: 80vw;
        }
    }
}