.ai {
    display: block;
    margin: 0 auto;
    width: 80vw;
    background-color: #021530;
    &_content {
        display: flex;
        justify-content: space-between;
        &_links {
            &_first {
                display: flex;
                width: 163px;
                height: 24px;
                border: 2px solid #E03F3F;
                border-radius: 15px;
                align-items: center;
                justify-content: center;
                margin-top: 105px;
                &_text {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 0.3px;
                }
            }
            &_header {
                margin-top: 30px;
                color: #FFF;
                font-family: Inter;
                font-size: 73px;
                font-style: normal;
                font-weight: 700;
                line-height: 92px;
                width: 80%;
            }
            &_text {
                width: 637px;
                color: #B6C4CA;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150.023%;
                margin-top: 30px;
            }
        }
    }
    &_last {
        color: #E03F3F;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 190%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-top: 86px;
    }
}