.sliderThreeVorlage {
    display: block;
    margin: 0 auto;
    width: 80vw;
    &_content {
        display: block;
        margin: 0 auto;
        transform: scale(1);
        transition: transform 2s ease-in-out, opacity 2s ease-in-out, scale 3s ease-in-out;
        width: 88%;
        &_invisible {
            transform: scale(0.1);
            opacity: 0;
        }
    }
    &_first {
        display: block;
        margin: 0 auto;
        display: flex;
        width: 129px;
        height: 24px;
        border: 2px solid #E03F3F;
        border-radius: 15px;
        align-items: center;
        &_rund {
            display: block;
            width: 7.397px;
            height: 7.397px;
            background-color: #E03F3F;
            margin-right: 10%;
            margin-left: 7%;
            border-radius: 50%;
        }
        &_text {
            color: #FFF;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.3px;
        }
    }
    &_header {
        margin-top: 10px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 73px;
        font-style: normal;
        font-weight: 700;
        line-height: 92px;
    }
    &_text {
        display: block;
        margin: 0 auto;
        color: #9BA2B2;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.14px;
        margin-top: 18px;
        width: 1054px;
        margin-bottom: 43px;
    }
}